body {
    background-color: #110038;
}

.top {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.logo a {
    background-image: url(../images/gifOF_logo_dark.png);
}

.back {
    background-image: url(../images/arrow_white.svg);
}

nav a {
    color: #FFF;
    text-decoration: none;
    border: 1px dotted #110038;
}

nav a:before {
    background: #FFF;
}

nav a:hover {
    border: 1px dotted #FFF;
}

nav a:active,
.current a {
    color: #777;
}

nav a:active:before {
    background: #777;
}

.btn,
.select,
.select .arrow,
.btn .camera {
    background-color: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: #FFF;
}

.btn span.border,
.select span.border,
.select .arrow span.border,
.btn .camera span.border {
    border: 1px dotted #EE3EFE;
}

.btn:hover,
.select:hover,
.select:hover .arrow,
.btn:hover .camera {
    background-color: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.btn:active,
.select:active {
    color: #FFF;
}

.btn:hover span.border,
.select:hover span.border,
.select:hover .arrow span.border,
.btn:hover .camera span.border {
    border: 1px dotted #110038;
}

.btn.suggestion,
.btn.suggestion:hover {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

.btn.suggestion span.border {
    border-color: #CCCCCC;
}

.btn.suggestion:hover span.border {
    border-color: #110038;
}

.btn.secondary {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    color: #FFF;
}

.btn.secondary span.border {
    border-color: #110038;
}

.btn.secondary:hover {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.btn.secondary:hover span.border {
    border-color: #FFF;
}

.arrow {
    background-image: url(../images/dropdown_white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.camera {
    background-image: url(../images/camera_light.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.select_options {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.select_options a {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

.select_options a:hover {
    color:#FFF;
    background: #2E32FB;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.window,
.window.nowindow:hover {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.window.nowindow {
    background: rgba(0,0,0,0);
    box-shadow: inset -2px -2px 0 0 rgba(0,0,0,0), inset 2px 2px 0 0 rgba(0,0,0,0);
}

.window .title {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    color: #FFF;
}

.window button {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: #FFF;
}

.window button span.border {
    border: 1px dotted #EE3EFE;
}

.window button:disabled,
.window button:disabled:hover {
    color: #8F8F8F ;
    background: #B4B4B4;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.window button:disabled span.border,
.window button:disabled:hover span.border {
    border: 1px dotted #B4B4B4;
}

.window button:hover,
.window button:active {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: #FFF;
}

.window button:hover span.border,
.window button:active span.border {
    border: 1px dotted #110038;
}

.search button:disabled span:before {
    background-image: url(../images/lupa_inactive_dark.svg);
}

.search button span:before {
    background-image: url(../images/lupa_light.svg);
}

section > h2 {
    background: #FFFAFE;
    border: 1px solid #2E32FB;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

.btn.primary,
.gif_container .btn {
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -1px -1px 0 0 #2124B3, inset 1px 1px 0 0 #FFFFFF;
}
.btn.primary .border,
.gif_container .btn .border {
    border-color: #2E32FB;
}

.btn.primary:hover,
.gif_container:hover .btn {
    background: #2629CC;
    border: 1px solid #4C2F99;
    box-shadow: inset -1px -1px 0 0 #2124B3, inset 1px 1px 0 0 #FFFFFF;
}

.btn.primary:hover .border,
.gif_container:hover .btn .border {
    border-color: #110038;
}

.progress {
    background: #EE3EFE;
}