body {
    background-color: #FDF4FC;
}

.top {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    box-shadow: 0 1px 0 0 #110038;
}

.logo a {
    background-image: url(../images/gifOF_logo.png);
}

.back {
    background-image: url(../images/arrow.svg);
}

nav a {
    color: #110038;
    text-decoration: none;
    border: 1px dotted #FDF4FC;
}

nav a:before {
    background: #110038;
}

nav a:hover {
    border: 1px dotted #110038;
}

nav a:active,
.current a {
    color: #777;
}

nav a:active:before {
    background: #777;
}

.btn,
.select,
.select .arrow,
.btn .camera {
    background-color: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

.btn span.border,
.select span.border,
.select .arrow span.border,
.btn .camera span.border {
    border: 1px dotted #F7C9F3;
}

.btn:hover,
.select:hover,
.select:hover .arrow,
.btn:hover .camera {
    background-color: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.btn:active,
.select:active {
    color: #110038;
}

.btn:hover span.border,
.select:hover span.border,
.select:hover .arrow span.border,
.btn:hover .camera span.border {
    border: 1px dotted #110038;
}

.btn.suggestion,
.btn.secondary {
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.btn.suggestion span.border,
.btn.secondary span.border {
    border-color: #F0F0F0;
}

.btn.suggestion:hover,
.btn.secondary:hover {
    background: #DBDBDB;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.btn.suggestion:hover span.border,
.btn.secondary:hover span.border {
    border-color: #110038;
}

.arrow {
    background-image: url(../images/dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.camera {
    background-image: url(../images/camera.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.select_options {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.select_options a {
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.select_options a:hover {
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.window,
.window.nowindow:hover {
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}

.window.nowindow {
    background: rgba(0,0,0,0);
    box-shadow: inset -2px -2px 0 0 rgba(0,0,0,0), inset 2px 2px 0 0 rgba(0,0,0,0);
}

.window .title {
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    color: #FFF;
}

.window button {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

.window button span.border {
    border: 1px dotted #F7C9F3;
}

.window button:disabled,
.window button:disabled:hover {
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    color: #B4B4B4;
}

.window button:disabled span.border,
.window button:disabled:hover span.border {
    border: 1px dotted #E6E6E6;
}

.window button:hover,
.window button:active {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    color: #110038;
}

.window button:hover span.border,
.window button:active span.border {
    border: 1px dotted #110038;
}

.search button:disabled span:before {
    background-image: url(../images/lupa_inactive.svg);
}

.search button span:before {
    background-image: url(../images/lupa.svg);
}

section > h2 {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.btn.primary,
.gif_container .btn {
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -1px -1px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
}
.btn.primary .border,
.gif_container .btn .border {
    border-color: #4180F6;
}

.btn.primary:hover,
.gif_container:hover .btn {
    background: #3A72DB;
    border: 1px solid #4C2F99;
    box-shadow: inset -1px -1px 0 0 #284F99, inset 1px 1px 0 0 #FFFFFF;
}

.btn.primary:hover .border,
.gif_container:hover .btn .border {
    border-color: #110038;
}

.progress {
    background: #F7C9F3;
}