@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap');

body {
    padding: 0;
    margin: 1px 1px 0 1px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

header {
    overflow: hidden;
}

.wrapper {
    max-width: 1080px;
    margin: 0 auto;
}

.top {
    color: #FFFFFF;
    font-size: 12px;
    padding: 4px 7px;
}

.logo {
    width: 102px;
    height: 64px;
    margin: 35px 0 25px 0;
    float: left;
    overflow: hidden;
}

.back {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 80px;
    margin-left: -36px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.logo h1 {
    display: block;
    width: 100%;
    height: 64px;
    line-height: 64px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
}

.logo a {
    width: 100%;
    display: block;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

nav {
    float: right;
    margin-top: 32px;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

nav ul li {
    display: inline-block;
}

nav a {
    font-size: 16px;
    position: relative;
    margin-left: 16px;
    padding: 5px 18px 5px 2px;
}

nav a:before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 4px;
    display: block;
    width: 8px;
    height: 1px;
}

.btn:before,
.select:before {
    display: none;
}

.btn,
.select,
.arrow,
.window button,
.camera,
.gear {
    padding: 2px;
    display: inline-block;
    text-decoration: none;
}

.btn span.border,
.select span.border,
.window button span.border {
    padding: 5px 20px;
    display: block;
}

.window button span.border {
    padding-top: 11px;
    padding-bottom: 10px;
}

.select {
    position: relative;
    margin-right: 36px;
}

.arrow {
    width: 33px;
    height: 33px;
    position: absolute;
    right: -39px;
    top: -1px;
    display: block;
}

.camera,
.gear {
    width: 33px;
    height: 33px;
    position: absolute;
    left: -39px;
    top: -1px;
    display: block;
}

.arrow span.border,
.camera span.border,
.gear span.border {
    display: block;
    padding: 0;
    height: 31px;
}

.select_options {
    position: absolute;
    width: 147px;
    margin-left: 17px;
    overflow: hidden;
    height: 0;
    padding: 0 10px;
    transition: all 0.5s;
    opacity: 0;
    z-index: 1;
}

.select_options a {
    display: block;
    margin-left: 0;
    margin-bottom: 10px;
    padding: 7px 16px;
}

.select_options a:before {
    display: none;
    left: 17px;
    bottom: 6px;
}

.select_options a:hover:before {
    display: block;
}

.select:hover + .select_options,
.select_options:hover {
    width: 149px;
    height: 94px;
    padding: 10px 10px 0 10px;
    opacity: 1;
}

.window {
    padding: 3px;
}

.window .title {
    padding: 3px;
    width: 100%;
    position: relative;
    cursor: default;
}

.window .title h2 {
    font-size: 14px;
    margin: 0;
}

.window input {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Chakra Petch', sans-serif;
    padding: 13px 16px;
    margin: 12px 8px 0 15px;
    flex-grow: 1;
}

input:focus {
    outline: none;
}

.window button {
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
    margin-right: 16px;
    height: 50px;
    margin-top: 12px;
    cursor: pointer;
}

.search button span:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    vertical-align: baseline;
    margin-bottom: -2px;
    margin-right: 10px;
}

.search {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 12px;
}

.search_suggestions {
    position: absolute;
    z-index: 1;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    display: none;
}

.suggestion,
.secondary {
    display: block;
    font-size: 16px;
    color: #110038;
    line-height: 22px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.secondary {
    display: inline-block;
}

.suggestion:first-child {
    margin-top: 16px;
}

.suggestion:last-child {
    margin-bottom: 16px;
}

section > h2 {
    font-size: 14px;
    color: #110038;
    font-weight: normal;
    padding: 7px;
    margin-top: 64px;
    margin-bottom: 16px;
}

.gif_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.misguifos .gif_wrapper {
    justify-content: flex-start;
}

.suggestions .gif_container,
.trends .gif_container,
.results .gif_container {
    width: 100%;
    max-width: 23%;
    position: relative;
}

.misguifos .gif_container {
    margin-right: 1.9%;
}

.misguifos .gif_container.fixer {
    margin-right: 0;
}

.gif_container {
    cursor: pointer;
}

.gif_container .title {
    width: auto;
    margin-bottom: 2px;
}

.title h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    text-transform: capitalize;
}

.creation h3 {
    font-size: 16px;
}

.creation h3 img {
    display: inline-block;
    vertical-align: middle;
    margin-left: -42px;
}

.gif_outter {
    padding: 0 1px 1px 1px;
}

.gif_clip {
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-color: #000;
}

.gif_container:hover .gif_clip {
    outline: 1px dotted #110038;
}

.gif_container img {
    min-width: 100%;
}

.gif_container .btn {
    position: absolute;
    bottom: 15px;
    left: 10px;
    text-decoration: none;
    color: #FFF;
}

.btn.primary {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin-right: 4px;
}

.btn.btn.primary .border,
.gif_container .btn .border {
    padding: 4px 7px;
}

.title .close {
    width: 16px;
    height: 16px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
}

.nowindow {
    position: relative;
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 1%;
}

.double {
    width: 48.5%;
    max-width: 48.5% !important;
}

.double img {
    margin-top: -25%;
}

.nowindow .title {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    width: 100%;
    display: none;
}

.nowindow:hover .title {
    display: block;
}

.results_tags .btn {
    margin-top: 12px;
}

#searches_wrapper {
    width: auto;
    display: inline-block;
}

.creation {
    max-width: 684px;
    margin-top: 40px;
    margin-bottom: 70px;
}

.creation2 {
    max-width: 860px;
}

.creation .title {
    width: auto;
}

.inner_wrapper {
    padding: 13px 36px 36px 73px;
}

.finished.inner_wrapper {
    padding: 27px 36px 26px 24px;
    overflow: hidden;
}

.creation2 .inner_wrapper {
    padding: 8px 14px 0 8px;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
}
ol li {
    counter-increment: my-awesome-counter;
    margin-bottom: 10px;
}
ol li::before {
    content: counter(my-awesome-counter) ") ";
    font-weight: 700;
}

.alignright {
    text-align: right;
}

a#create.btn,
a#capture.btn,
a#stop.btn,
a#upload.btn {
    font-size: 16px;
    position: relative;
}

a#capture.btn,
a#stop.btn {
    margin-left: 36px;
}

#stop.btn,
#stop .gear {
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    color: #FFF;
}

.finished .tools {
    clear: both;
    padding-top: 64px;
}

.tools a {
    min-width: 140px;
    text-align: center;
    margin-top: 0 !important;
}

.video_wrapper {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    padding: 3px 2px 2px 3px;
    min-height: 441px;
    position: relative;
}

.video_wrapper img {
    display: block;
}

.video_wrapper video {
    width: 100%;
    height: 100%;
    max-height: 468px;
    display: block;
}

#stop.btn,
#gif_prev,
.progress_bar,
#play_prev,
#repeat.btn,
#upload.btn,
#uploading,
#cancel.btn,
#creation,
#success {
    display: none;
}

#gifURL {
    opacity: 0;
}

#upload.btn {
    margin-left: 10px;
}

#gif_prev {
    width: auto;
    margin: 0 auto;
}

#stop.btn span.border,
#stop.btn .gear span.border {
    border: 1px dotted #FF6161;
}

#stop.btn:hover span.border,
#stop.btn:hover .gear span.border {
    border: 1px dotted #110038;
}

.gear {
    background-image: url(../images/recording.svg) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

.progress_bar {
    position: relative;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #FFFCFC, inset 2px 2px 0 0 #000000;
    width: 240px;
    height: 24px;
    margin-top: 21px;
    margin-left: 4px;
    float: left;
    overflow: hidden;
}

.progress {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 0;
    height: 20px;
    z-index: 1;
    max-width: 98%;
}

.bars {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 100%;
    height: 20px;
    background: url(../images/bars.png) repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    z-index: 2;
}

.btn.play {
    float: left;
    margin-top: 21px;
    margin-left: 24px;
}

.btn.play span.border {
    height: 14px;
    line-height: 14px;
    padding: 0 4px;
}

.creation2 .tools .secondary.btn {
    margin-left: 0;
    margin-right: 0;
}

.uploading {
    padding-top: 160px;
}

#underline{
    text-decoration: line-through;
}

.video_wrapper .uploading img {
    display: inline-block;
    width: 36px;
}

.uploading h3,
.uploading p {
    padding: 0;
    margin: 5px 0 0;
    text-align: center;
}

.uploading p {
    font-size: 12px;
    color: rgba(17,0,56,0.64);
}

.uploading .progress_bar {
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 45px;
}

.finished .left {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    max-width: 370px;
    padding-right: 4px;
    padding-bottom: 1px;
    float: left;
}

.finished .left img {
    width: 370px;
    height: auto;
    overflow: hidden;
    display: block;
    margin: 2px 1px 1px 2px;
}

.finished .right {
    padding-left: 24px;
    float: left;
}

.finished .right .secondary {
    margin-left: 0;
    margin-right: 0;
    display: block;
    text-align: center;
    min-width: 215px;
}